/* pink color: #EBB5AC */

/* text black color: #000 */


*{
    margin: 0px;
    padding: 0px;
    /* color: #f2f2f2; */
    box-sizing: border-box;
}

nav{
    background: #222222;
    padding:10px 40px 10px 70px;
    border-left: none;
    border-right: none;
    color: #f2f2f2;
    height:65px;
}

nav ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    /* border:1px solid red; */
}

/* nav ul li{
    border: 1px solid green;
} */


nav ul .search-icon{
    height:40px;
    width:250px;
    display:flex;
    background:#222222;
    border-radius:5px;
    color: #f2f2f2;
}

nav ul .search-icon input{
    height:100%;
    width:500px;
    border:none;
    outline:none;
    padding: 0 10px;
    color: #000;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
}

ul .search-icon .icon{
    height: 100%;
    /* width:40px; */
    line-height: 40px;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 0 5px 5px 0;
    /* background:#f2f2f2; */
    background:#EBB5AC;
} 

.user-cart-icon button{
    background:none;
    border: none;
    color: #f2f2f2;
}

.logo:hover{
    cursor: pointer;
}

