.carousel-item {
  /* height:630px; */
  min-height: 220px;
  max-height: 630px;
  background: no-repeat scroll center scroll;
  /* -webkit-background-size: cover; */
  background-size: 100% 100%;
  position: relative;
}

.carousel-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0.2;
}

/* -------right side content------------ */
.sliderCaptionRight{
  bottom: 35%;
  /* border: 1px solid red; */
  right: 10%;
  text-align: right;
  line-height: 20px;
  position: absolute;
}

.sliderCaptionRight h5{
  font-size: 50px;
  font-weight: 600;
}

.sliderCaptionRight p{
  font-size: 25px;
  font-weight: 200;
}

.sliderCaptionRight button {
  background-color: #000;
  color: white;
  padding: 15px;
  font-weight: 600;
  border-radius: 10px;
  border: 1px solid #000;
}


@media (max-width: 576px) {
  .sliderCaptionRight{
    /* border: 1px solid yellow; */
    bottom: 20%;
  }
  .sliderCaptionRight h5{
    font-size: 14px;
  }
  .sliderCaptionRight p{
    font-size: 12px;
  }
  .sliderCaptionRight button {
    padding: 5px;
    font-size: 10px;
  }
}




/* -------left side content------------ */

/* .sliderCaptionLeft {
  bottom: 200px;
  padding-right: 640px;
  border: 1px solid red;
  left: 150px;
  text-align: left;
  line-height: 20px;
} */

.sliderCaptionLeft {
  bottom: 35%;
  /* border: 1px solid red; */
  left: 10%;
  text-align: left;
  line-height: 20px;
}


.sliderCaptionLeft h5 {
  font-size: 50px;
  font-weight: 600;
}

.sliderCaptionLeft p {
  font-size: 25px;
  font-weight: 200;
}

.sliderCaptionLeft button {
  background-color: #000;
  color: white;
  padding: 15px;
  font-weight: 600;
  border-radius: 10px;
  border: 1px solid #000;
}


@media (max-width: 576px) {
  .sliderCaptionLeft{
    /* border: 1px solid yellow; */
    bottom: 20%;
  }
  .sliderCaptionLeft h5{
    font-size: 14px;
  }
  .sliderCaptionLeft p{
    font-size: 12px;
  }
  .sliderCaptionLeft button {
    padding: 5px;
    font-size: 10px;
  }
}