* {
  margin: 0px;
  padding: 0px;
  /* color: #f2f2f2; */
  box-sizing: border-box;
}

@media (max-width: 576px) {
  .picResponsive {
    width: 200px;
    height: 220px;
    margin-bottom:20px;
  }

}

/* body{
    overflow-x: hidden;
    overflow-y: auto;
  } */

/* .category {
  border: 1px solid red;
  margin-top: 50px;
  margin-bottom: 40px;
} */

.category img {
  position: relative;
  background: #000;
  /* border: 1px solid orange; */
  border-radius: 20px;
  transition: 0.5s ease-in-out;
}

.category img:hover {
  box-shadow: 10px 10px 10px gray;
}


.common-btn {
  position: absolute;
  top: 40%;
  left: 25%;
  color: black;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  font-size: 25px;
  font-weight: 800px;
  background-color: rgba(114, 91, 91, 0.8);
}



.men-btn {
  position: absolute;
  top: 40%;
  left: 36%;
  color: black;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  font-size: 25px;
  font-weight: 800px;
  background-color: rgba(114, 91, 91, 0.8);
}

.common-btn:hover {
  background-color: #000;
  color: white;
}

.men-btn:hover {
  background-color: #000;
  color: white;
}
