/* pink color: rgb(218, 87, 109) */

/* text black color: #000 */

*{
    margin: 0px;
    padding: 0px;
    /* color: #f2f2f2; */
    box-sizing: border-box;
}

.cartCanvasWidth{
    width:350px;
}

.categoryIcon{
    /* width:150px; */
    width: 100%;
    /* border: 1px solid blue; */
    /* margin: 10px 0px; */
    border: none;
    background: #FFFFFF;
    padding: 10px
}

.categoryIcon img{
    width: 30px;
}


.categoryIcon:hover{
    background-color: rgb(218, 87, 109);
    color: white;
}



.cartScroll{
    height: 400px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    overflow-y: scroll;
}

.cartCheckOutBtn{
    border: none;
    background: black;
    color:white;
    padding: 10px;
    border-radius:10px 12px;
    font-weight: bold;
}

.cartCheckOutBtn:hover{
    background:rgb(218, 87, 109);
}


.cartViewBtn{
    border: none;
    background: rgb(218, 87, 109);
    color:white;
    padding: 10px;
    border-radius:10px 12px;
    font-weight: bold;
}

