/* pink color: #EBB5AC */

/* text black color: #000 */

*{
    margin: 0px;
    padding: 0px;
    /* color: #f2f2f2; */
    box-sizing: border-box;
}

.cartCanvasWidth{
    width:350px;
}

.categoryIcon{
    /* width:150px; */
    width: 100%;
    /* border: 1px solid blue; */
    /* margin: 10px 0px; */
    border: none;
    background: #FFFFFF;
    padding: 10px
}

.categoryIcon img{
    width: 30px;
}


.categoryIcon:hover{
    background-color: #EBB5AC;
    color: white;
}



