.dashboardArea{
    border: 1px solid #cccccc;
    /* padding: 0px 10px; */
}

.dashboardArea button{
    border:none;
    border-bottom: 1px solid #cccccc;
    text-align: left;
    padding: 5px 10px;
    background-color:white;
    
}

#dashboardBtn{
    background-color:rgb(218,87,109);
    color: white;
}

.dashboardArea button:hover{
    color: rgb(218,87,109);
}