.footer-area{
    background-image: linear-gradient(to top, black, rgb(218, 87, 109));
    /* opacity: 0.8; */
}


.socialIcon{
    /* color: #808080; */
    color: white;
    margin-top: 20px;
    margin-right: 15px;
}

.paymentIcon{
    color: #808080;;
    font-size: 30px;
}