.textArea .addressIcon{
    color: #808080;
    font-size: 25px;
} 

.normalText{
    color: #808080;
}

.normalText:hover{
    cursor: pointer;
    color:white
}


/* .area{
    border: 1px solid black;
} */